// font families
%font-asap-400 { @include type-font('Asap') }
%font-asap-700 { @include type-font('Asap', 700) }
%font-sans-300 { @include type-font('Source Sans Pro', 300) }
%font-sans-700 { @include type-font('Source Sans Pro', 700) }
%font-sans-700i { @include type-font('Source Sans Pro', 700, italic) }
%font-serif-300 { @include type-font('Merriweather', 300, italic, serif) }
%font-serif-900 { @include type-font('Merriweather', 900, italic, serif) }

// extend placeholders
%type-body {
  @extend %font-serif-300;
  font-size: 15px;
}

%type-body-small {
  @extend %font-serif-300;
  font-size: 13px;
  line-height: 1.45;
}

%type-body-alt {
  @extend %font-asap-400;
  font-size: 14px;
  line-height: 1.8;
}

%type-body-rte {
  @extend %type-body;
  line-height: 2;
}

%type-title {
  @extend %font-sans-700;
  font-size: 22px;
  line-height: 1.3;
  text-transform: uppercase;

  @media (--tablet) {
    font-size: 38px;
  }
}

%type-title-small {
  @extend %font-sans-300;
  font-size: 16px;
  text-transform: uppercase;

  @media (--tablet) {
    font-size: 26px;
  }
}

%type-title-alt {
  @extend %font-serif-900;
  font-size: 26px;
}

%type-subtitle {
  @extend %font-serif-900;
  font-size: 20px;

  @media (--tablet) {
    font-size: 38px;
  }
}

%type-subtitle-small {
  @extend %font-serif-900;
  font-size: 34px;
}

%type-subtitle-alt {
  @extend %font-serif-300;
  font-size: 18px;
}

%type-subtitle-light {
  @extend %font-sans-300;
}

%type-heading {
  @extend %font-sans-700i;
  font-size: 26px;
  line-height: 1.2;
}

%type-heading-alt {
  @extend %font-asap-700;
  font-size: 14px;
}

%type-heading-map {
  @extend %font-asap-700;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

%type-button {
  @extend %font-asap-700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

%type-button-input {
  @extend %font-asap-700;
  font-size: 12px;
  letter-spacing: 0.1em;
}

%type-button-link {
  @extend %font-asap-700;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.125em;

  @media (--laptop) {
    font-size: 11px;
  }
}

%type-button-alt {
  @extend %font-serif-900;
}
