// cc color map
$colors:(
  default:(
    white: #fff,
    grey: #464c4d,
    primary: #ec8a00,
    accent: #0074b6,
    navy: #002c37
  ),

  lighter:(
    grey: #ddd
  ),

  darker:(
    white: #eeecec,
    grey: #2b2f31,
    navy: #001f27
  )
);
