// cc color map
$colors: (
  default: (
    white: #FFF,
    grey: #464C4D,
    primary: #EC8A00,
    accent: #0074B6,
    navy: #002C37,
    black: #050505
  ),
  lighter: (
    grey: #DDD
  ),
  neutral: (
    grey: #757575
  ),
  darker: (
    white: #EEECEC,
    grey: #2B2F31,
    navy: #001F27
  )
);
