$easings: (
  default: cubic-bezier(0.4, 0.25, 0.3, 1),
  in: cubic-bezier(0.6, 0.1, 0.8, 0.7),
  out: cubic-bezier(0.2, 0.3, 0.4, 0.9),
  in-out: cubic-bezier(0.5, 0.15, 0.4, 1),
  bounce: cubic-bezier(0.4, 0.25, 0.3, 1.4)
);
