.billboard {
  position: relative;
  padding: 0;

  & + .section {
    position: relative;
  }

  &__image {
    margin-bottom: -3px;
  }

  &__content {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 42rem;
    padding-bottom: 5rem;
    transform: translate3d(-50%, 0, 0);
  }

  &__title {
    @extend .landing__title;
  }

  &__subtitle {
    @extend .landing__subtitle;
  }

  &__cta {
    color: cc(primary);
  }
}
