.billboard {
  @include bg-cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/media/jpg/cta-background.jpg');

  > * {
    position: relative;
  }

  &__title {
    @extend .landing__title;
  }

  &__subtitle {
    @extend .landing__subtitle;
  }

  &__cta {
    color: cc(primary);
  }
}
