.card {
  min-height: 24rem;
  position: relative;
  perspective: 100vw;

  &__front,
  &__back {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    padding-bottom: 1.25rem;
    transition: all 325ms cb();
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  &__front {
    opacity: 1;
    transform: rotateY(0);

    .card--flip & {
      opacity: 0;
      transform: rotateY(135deg);
      pointer-events: none;
    }
  }

  &__back {
    opacity: 0;
    transform: rotateY(-135deg);
    pointer-events: none;

    .card--flip & {
      opacity: 1;
      transform: rotateY(0);
      pointer-events: auto;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 1.2rem;
  }
}
