.card {
  position: relative;
  perspective: 100vw;

  &__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transition: all 325ms cb();
    backface-visibility: hidden;

    @media (--laptop) {
      position: relative;
      height: auto;
    }

    .card--flip & {
      opacity: 0;
      transform: rotateY(135deg);
      pointer-events: none;
    }
  }

  &__back {
    position: relative;
    padding-bottom: 1.25rem;
    opacity: 0;
    transform: rotateY(-135deg);
    transform-style: preserve-3d;
    transition: all 325ms cb();
    pointer-events: none;
    backface-visibility: hidden;

    @media (--laptop) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-bottom: 0;
    }

    .card--flip & {
      opacity: 1;
      transform: rotateY(0);
      pointer-events: auto;
    }
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 1.2rem;
  }
}
