.contact {
  background-color: cc(navy);

  @media (--tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: calc(100% - 2.5rem);
    margin: 0 auto;

    @media (--tablet) {
      width: calc(50% - 5rem);
      max-width: 480px;
      margin: 0;
    }
  }

  &__info {
    @include type(body, alt);

    padding-top: 2.5rem;

    @media (--tablet) {
      display: flex;
      justify-content: space-between;
      text-align: right;
      padding-top: 0.5rem;
      width: 50%;
    }
  }

  &__block {
    // display: block;

    @media (--tablet) {
      display: inline;
    }
  }
}
