.footer {
  padding: 1.25rem 2.5rem;
  background-color: cc(grey);
  display: flex;
  align-items: stretch;

  @media (--tablet) {

    padding: 2.5rem 5rem;
  }

  @media (--desktop) {
    padding: 5rem 10rem;
  }

  &__section {
    display: none;
    min-width: 25%;

    @media (--tablet) {
      display: block;
      padding: 0 2.5rem;
    }

    &+& {
      display: block;
      flex-grow: 1;

      @media (--tablet) {
        margin-left: 2.5rem;
      }
    }
  }

  &__nav {
    @include type(button, link);
    margin-bottom: 3.75rem;
    text-transform: uppercase;
    line-height: 2.2;

    @media (--tablet) {
      margin-bottom: 6.5rem;
      line-height: 1.8;
    }
  }

  &__link {
    display: block;
  }

  &__legal {
    display: inline-block;
    margin-left: 1.5rem;
  }

  &__content {
    @extend %font-asap-700;
    position: relative;
    font-size: 12px;
    line-height: 1.6;
  }

  &__social {
    @extend %font-asap-700;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    line-height: 1.4;
  }

  &__outline {
    width: 220px;
  }

  &__icon {
    display: inline-block;
    position: absolute;
    top: 55%;
    right: 1rem;
    transform: translate3d(0, -50%, 0);
    font-size: 1.25rem;
  }

  &__copy {
    text-transform: uppercase;
  }
}
