.footer {
  padding: 1.25rem 2.5rem;
  background-color: cc(grey);

  @media (--tablet) {
    padding: 2.5rem 5rem;
  }

  @media (--desktop) {
    padding: 5rem 10rem;
  }

  &__row {
    @media (--tablet) {
      display: flex;
      justify-content: center;
      margin-bottom: 6.5rem;

      &+& {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    @media (--tablet) {
      min-width: 25%;
      max-width: 35rem;

      &+& {
        flex-grow: 1;
        margin-left: 2.5rem;

        @media (--desktop) {
          margin-left: 10rem;
        }
      }
    }

    &--content {
      @extend %font-asap-700;
      position: relative;
      font-size: 12px;
      line-height: 1.6;
    }
  }

  &__link {
    @include type(button, link);
    display: block;
    line-height: 1.8;
  }

  &__legal {
    display: inline-block;
    margin-left: 1.5rem;
  }

  &__social {
    @extend %font-asap-700;
    position: relative;
    width: 230px;
    max-width: 100%;
    height: 3rem;
    margin: 2.5rem 0;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    line-height: 1.4;

    @media (--tablet) {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
    }
  }

  &__outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
  }

  &__icon {
    display: inline-block;
    margin-left: 0.75rem;
    font-size: 1.2rem;
  }

  &__copy {
    text-transform: uppercase;
  }
}
