.footer {
  padding: 5rem 11.25rem;
  display: flex;
  align-items: stretch;
  background-color: cc(grey);

  &__section {
    padding: 0 3rem;
    min-width: 25%;

    &+& {
      flex-grow: 1;
      margin-left: 3rem;
    }
  }

  &__nav {
    @include type(button, link);
    margin-bottom: 6.5rem;
    text-transform: uppercase;
    line-height: 1.6;
  }

  &__link {
    display: block;

    &--inline {
      display: inline-block;
      margin-left: 1.5rem;
    }
  }

  &__legal {
    @extend %font-asap-700;
    font-size: 12px;
    line-height: 1.6;
  }

  &__copy {
    text-transform: uppercase;
  }
}
