.form {
  @include bg-cover;
  text-align: left;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.55);
  }

  @media (--tablet) {
    display: flex;
    justify-content: center;
  }

  &__text {
    position: relative;
    font-size: 14px;
    line-height: 1.6rem;
    margin-bottom: 2.5rem;

    @media (--tablet) {
      width: 50%;
      margin-bottom: 0;
    }

    @media (--desktop) {
      max-width: 35rem;
    }
  }

  &__title {
    @extend .landing__title;
  }

  &__message {
    margin-top: 2rem;
  }

  &__body {
    position: relative;
    color: cc(primary);
    transition: opacity 300ms cb();

    &[data-state='sending'] {
      opacity: 0.5;
      pointer-events: none;
    }

    &[data-state='success'] {
      opacity: 0;
      pointer-events: none;
    }

    &[data-state='error'] {
      opacity: 1;
      background-color: rgba(tomato, 0.2);
    }

    @media (--tablet) {
      width: 50%;
      padding-left: 2.5rem;
    }

    @media (--laptop) {
      padding-left: 10rem;
    }

    @media (--desktop) {
      max-width: 35rem;
      margin-left: 9rem;
    }
  }

  &__field {
    position: relative;
  }

  &__input {
    @include type(button, input);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    background-color: white;
    width: 100%;
    margin-bottom: 1.25rem;
    border: 2px solid white;
    transition: border 250ms cb();

    &[data-state='error'] {
      border: 2px solid rgba(tomato, 0.75);
    }

    &--textarea {
      height: 8rem;
      padding-bottom: 2rem;
      margin-bottom: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__file {
    @include type(button, input);
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    margin-top: -0.15rem;
    margin-bottom: 1.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #757575;
    background-color: white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    text-transform: uppercase;

    [data-attachment-name] {
      @extend %font-sans-700i;
      font-size: 0.9em;
      text-transform: none;
    }

    .icon {
      margin: 0 0.75rem;
      font-size: 1.5rem;
    }

    input {
      display: none;
    }
  }
}
