.header {
  width: calc(100% - 5rem);
  position: absolute;
  top: 0;
  left: 2.5rem;
  padding: 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid cc(primary, 0.8);
  z-index: 1;

  &__details {
    @include type(body, small);
    display: flex;
    align-items: flex-start;
  }

  &__logo {
    display: inline-block;
    width: 400px;
    margin-right: 2.5rem;
  }

  &__nav {
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
  }

  &__link {
    @include type(button, link);
    position: relative;
    display: inline-block;
    padding: 0.5rem 0;
    backface-visibility: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translate3d(0, 6px, 0);
      opacity: 0;
      transition: 225ms cb();
      transition-property: transform opacity;
    }

    &+& {
      margin-left: 1.5rem;
    }

    &--cta::after,
    &:hover::after {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &--social {
      width: 2em;
      height: 2em;
      border: 2px solid currentColor;
      border-radius: 100%;

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }
}
