$slider-duration: 6.5s;

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.25rem 1.25rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cc(black, 0);
  transition: background-color 225ms cb();
  z-index: 1;

  @media (--tablet) {
    padding: 2rem 2.5rem 1rem;
  }

  &--docked {
    background-color: cc(black, .9);
  }

  &__timer {
    position: absolute;
    top: 100%;
    left: 1.25rem;
    width: calc(100% - 2.5rem);
    height: 1px;
    background-color: cc(primary);
    backface-visibility: hidden;
    z-index: 1;

    @media (--tablet) {
      left: 2.5rem;
      width: calc(100% - 5rem);
    }

    &::after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: cc(primary);
      transform: scaleX(0);
      transform-origin: 0 50%;
    }

    &.running::after {
      transform: scaleX(1);
      transition: transform #{$slider-duration} cubic-bezier(0.75, 0.9, 0.9, 1), opacity 225ms cb();
    }

    .header--docked & {
      opacity: 0;
    }
  }

  &__details {
    @extend %font-serif-300;
    width: 100%;
    font-size: 10px;
    line-height: 1.25;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    white-space: nowrap;

    @media (--tablet) {
      font-size: 13px;
      line-height: 1.45;
    }

    @media (--laptop) {
      width: auto;
      justify-content: flex-start;
    }
  }

  &__logo {
    display: inline-block;
    width: 220px;
    margin-right: 1.25rem;

    @media (--tablet) {
      width: 280px;
      margin-right: 2.5rem;
    }

    @media (--desktop) {
      width: 340px;
    }

    @media (--monitor) {
      width: 400px;
    }
  }

  &__caption {
    display: none;

    @media (--desktop) {
      display: block;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate3d(0, -100%, 0);
    pointer-events: none;
    transition: all 425ms cb();

    .header--open & {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      pointer-events: auto;
    }

    @media (--laptop) {
      width: auto;
      height: auto;
      position: relative;
      padding-bottom: 1rem;
      justify-content: flex-start;
      flex-direction: row;
      pointer-events: auto;
      transform: translate3d(0, 0, 0);
    }
  }

  &__link {
    @include type(button, link);
    position: relative;
    display: inline-block;
    padding: 0.5rem 0;
    backface-visibility: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transform: translate3d(0, 6px, 0);
      opacity: 0;
      transition: 225ms cb();
      transition-property: transform opacity;
    }

    &+& {
      margin-top: 1rem;

      @media (--laptop) {
        margin-top: 0;
        margin-left: 1.5rem;
      }
    }

    &:hover::after {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &--social {
      width: 2em;
      height: 2em;
      border: 2px solid currentColor;
      border-radius: 100%;

      &::after {
        display: none;
      }

      &+& {
        margin-left: 1.5rem;
      }

      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }

  &__social {
    margin-top: 2rem;

    @media (--laptop) {
      margin-top: 0;
      margin-left: 1.5rem;
    }
  }

  &__burger {
    position: absolute;
    top: 50%;
    right: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0, -50%, 0);

    @media (--tablet) {
      right: 2.5rem;
    }

    @media (--laptop) {
      display: none;
    }

    &--icon {
      position: relative;
      width: 1.25rem;
      height: 3px;
      background-color: currentColor;
      border-radius: 3px;
      backface-visibility: hidden;
      transition: background-color 150ms cb() 75ms;

      &::before,
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: inherit;
        background-color: currentColor;
        backface-visibility: hidden;
        transition: transform 300ms cb();
      }

      &::before {
        transform: translate3d(0, -200%, 0);
      }

      &::after {
        transform: translate3d(0, 200%, 0);
      }

      .header--open & {
        background-color: cc(white, 0);

        &::before {
          transform: translate3d(0, 0, 0) rotate(-45deg);
        }

        &::after {
          transform: translate3d(0, 0, 0) rotate(45deg);
        }
      }
    }
  }
}
