.landing {
  @include bg-cover;
  height: 100vh;
  background-image: url('/assets/media/jpg/landing-background.jpg');

  &__content {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    text-align: center;
  }

  &__title {
    @include type(title);
  }

  &__subtitle {
    @include type(title, small);
  }

  &__cta {
    position: absolute;
    top: calc(100% + 3.5rem);
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    color: cc(primary);
  }

  &__lead {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    bottom: 3.5rem;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    color: cc(white);
    border: 2px solid currentColor;
    border-radius: 100%;

    &::after {
      content: '';
      display: inline-block;
      width: calc(100% / 3);
      height: calc(100% / 3);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -70%, 0) rotate(45deg);
      border: solid currentColor;
      border-width: 0 1px 1px 0;
    }
  }
}
