.section {
  padding: 2.5rem 1.25rem;
  text-align: center;

  @media (--tablet) {
    padding: 5rem;
  }

  @media (--laptop) {
    padding: 10rem;
  }

  &--accent {
    background-color: cc(accent);
  }

  &--light {
    background-color: white;
    color: cc(grey, darker);
  }

  &__title {
    @include type(subtitle);
  }

  &__text {
    @include type(body, rte);
    max-width: 42rem;
    margin: 2.5rem auto;
  }

  &__row {
    margin-top: 2.5rem;

    @media (--tablet) {
      margin-top: 5rem;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      &--center {
        justify-content: center;
      }
    }

    @media (--desktop) {
      max-width: 70rem;
      margin: 5rem auto 0;
    }
  }

  &__item {
    @include type(body, small);
    line-height: 1.8;
    margin-bottom: 3.75rem;

    @media (--tablet) {
      width: calc(50% - 2rem);
    }

    @media (--laptop) {
      width: calc(25% - 2rem);

      &+& {
        margin-left: 2.5rem;
      }
    }

    p + p {
      margin-top: 0.33rem;
    }
  }

  &__subtitle {
    @include type(heading);
    margin-bottom: 1rem;
  }

  &__graphic {
    color: cc(grey, lighter);
    font-size: 4rem;
    text-align: center;
    height: 7.5rem;

    &.-png {
      padding-top: 1.2rem;
    }

    img {
      height: 4rem;
      width: auto;
      margin: 0 auto;
    }
  }

  &__button {
    @include type(heading);
    min-width: 200px;
    margin: 0 auto;
    padding: 0.25rem;
    border: 3px solid currentColor;
    border-radius: 0.5rem;

    @media (--tablet) {
      margin: 0;
    }

    &+& {
      margin-top: 1.25rem;

      @media (--tablet) {
        margin-top: 0;
        margin-left: 2.5rem;
      }
    }
  }
}
