.section {
  padding: 2.5rem 1.25rem;
  text-align: center;

  @media (--tablet) {
    padding: 5rem;
  }

  @media (--laptop) {
    padding: 10rem;
  }

  &--accent {
    background-color: cc(accent);
  }

  &--light {
    background-color: white;
    color: cc(grey, darker);
  }

  &__title {
    @include type(subtitle);
  }

  &__text {
    @include type(body, rte);
    max-width: 42rem;
    margin: 2.5rem auto;
  }

  &__row {
    margin-top: 2.5rem;

    @media (--tablet) {
      margin-top: 5rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__item {
    @include type(body, small);
    line-height: 1.8;
    margin-bottom: 1.25rem;

    @media (--tablet) {
      width: calc(50% - 1.875rem);

      &+& {
        margin-left: 2.5rem;
      }
    }

    @media (--laptop) {
      width: calc(25% - 1.875rem);
    }
  }

  &__subtitle {
    @include type(heading);
    margin-bottom: 1rem;
  }

  &__graphic {
    color: cc(grey, lighter);
    font-size: 4rem;
    text-align: center;
  }
}
