.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  padding: 10rem 13.5rem 5rem;
  background-color: white;
  color: cc(grey, darker);

  &__card {
    @include type(body, small);
    width: calc(100% / 3 - 3rem);
    margin: 0 1.5rem 5rem;
  }

  &__member {
    @include type(title, alt);
    margin-top: 1.25rem;
  }

  &__title {
    @include type(subtitle, alt);
    margin-bottom: 0.75rem;
  }

  &__button {
    display: flex;
    align-items: center;

    &--label {
      @include type(button, alt);
    }
  }
}
