.team {
  padding: 1.25rem;
  text-align: left;

  @media (--tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding: 2.5rem;
  }

  @media (--monitor) {
    max-width: 97rem;
    margin: 0 auto;
  }

  &__card {
    @include type(body, small);
    margin: 0 1.25rem 2.5rem;

    @media (--tablet) {
      width: calc(100% / 2 - 2.5rem);
    }

    @media (--laptop) {
      width: calc(100% / 3 - 2.5rem);
    }
  }

  &__member {
    @include type(title, alt);
    margin-top: 1.25rem;
  }

  &__title {
    @include type(subtitle, alt);
    margin-bottom: 0.75rem;
  }

  &__details {
    margin-bottom: 0.75rem;
    padding-right: 1.25rem;
  }

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--bottom {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &--label {
      @include type(button, alt);
      cursor: pointer;
    }
  }
}
